fastapi
celery
redis
sqlalchemy
asyncpg
fastapi-limiter
pydantic
boto3
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
statsmodels
textblob
numpy<2
pandas
scipy
prophet>=1.1.7
backoff
psycopg2